body {
	background-color:#999999;
	margin: 0;
	padding: 0;
}
#outerWrapper {
	width: 800px;
	margin: 0 auto;
	background-color: #fff;
}
header {
	background: #fff;
	height: 160px;
	padding-top: 15px;
	padding-left: 15px;
	color: black;
	
}
header img {
	float: left;
}
article#main {
	background: url(/images/buildings_akakom.jpg) no-repeat center top;
	height: 1115px;
	width: 800px;
}
#main h1 {
	text-align: center;
	margin-top: 0px;
	padding-top: 16px;
}
